
	<li class="comp" data-goto="ad{{id}}">
		<div>
			{{#with deceased}}
				{{name}} {{last_name}}
				{{../ad.type}}
			{{/with}}

			{{ad.type}}
		</div>
		<aside>
			<span class="nav"></span>
		</aside>
	</li>

